header {
    height: 500px;
    width: 350px;
    padding-left: 36%;
    
    background-image: url(./images/jungle-vines1.png);
    background-image: url(./images/jungle-vines2.png);
}

body {

    
    background-image: url(./images/aztec-bg.jpg);
    text-align:center;
    height: 100vh;
}


    #lefty {
        margin: 50px  auto 50px 60%; 
        background-image: url(./images/creature1.gif)
       
     }

     #righty {
        margin: 50px 60% 50px auto; 
        
     
   }

 
 

h1 { 
font-style: italic;
font-size: 90px;
color: #143642;

}

p {
    font-style: normal;
    font-size: 30px;
    color: black;
}
footer {
    
    text-align: center;
    font-style: italic;
    font-size: 50px;
    color: aliceblue;
    background-color: #143642;
    position: relative;
    width: 100%;
    height: 20%;
    
      }
