
.grid {
    display: grid;
    grid-template: repeat(4, 1fr 2fr ) / repeat(4, 3fr 2fr );
    height: 315vh;
    width: 170vh;
    grid-gap: 5px; 

}

.grid-header {
display: grid;
grid-column: 3;
grid-row: 1;

}


header {

   background-image:url(images/title-gif.gif);
   background-size: 145vh;
   width: 5;
   background-position: center;
   background-repeat: no-repeat;
   
}
.about {
    box-sizing: border-box;
    background-color: #592111;
  text-align: center;
}

.top-nav {
    background-image: url(images/paper.jpg);
    background-color: #592111;
    position: relative;
    display: block;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
    min-height: 20vh;
    max-height: fit-content;
   text-align: center;
  
   


}

.quetz-body {
    text-align: center;
    background-color: #592111;
    position: relative;
    display: block;
    box-sizing: border-box;
    
    font-size: 20px;
    min-height: 20vh;
    max-height: fit-content;
}
.about-body {
    background-image: url(images/mayan-bg.jpg);
}

.contact-body {
    text-align: center;
    background-position: center;
    background-image: url(images/paper.jpg);
}



.title { 
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}



main {
    padding: 20vh;
    background-image: url(images/dragon.jpg);
   
    background-repeat: no-repeat;
    background-position: center;
}
body {
    background-image: url(images/bg2.jpeg);
}



.creature1 {
    grid-area: 2 / 5 / span 1 / span 1; 
    text-align: center;
    
    display: block;
}

.text1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 5s 1;
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.creature2 {
    grid-area: 2 / 1 / span 2 / span 2;

    text-align: center;
}

.creature3 {
    grid-area: 3 / 6 / span 2 / span 2;
    text-align: center; 
}

.creature4 {
    grid-area: 5 / 1 / span 2 / span 2;
    text-align: center;
}

 

h1 { 
font-style: italic;
font-size: 45px;
color: wheat;
content: center;
}

h2 {
    color: #3b1105;
}

  

p {
    font-style: normal;
    font-size: 30px;
    color: wheat;
    content: center;
}

footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color: aliceblue;
    background-color: #143642;
    width: 100%;
    height: 60%;
    }
